# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db

# Secrets / Credentials
.env
secrets.toml
*.credential?

# Streamlit secrets
streamlit_app/.streamlit/secrets.toml

# Dependency/Build artifacts
*.egg-info/
dist/
build/
wheels/
*.tar.gz
*.whl

# Logs
*.log

# Coverage reports
.coverage*
htmlcov/
